*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #427bd2;
}

.bigbox {
    display: flex;
    gap: 40px;
}

.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="email"],
input[type="password"] {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(100% - 20px);
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

a {
    color: #427bd2;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: none;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

button {
    padding: 10px;
    background-color: #3272b7;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 15px;
}

button:hover {
    background-color: #0056b3;
}

.social-login {
    text-align: center;
}

.facebook-btn,
.google-btn {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.facebook-btn {
    background-color: #396fdb;
    color: white;
}

.google-btn {
    background-color: rgb(201, 105, 105);
    color: white;
}
p{
    text-align: center;
}